body, html{
  height:100%;
}
body{
  background: url("https://espngrantland.files.wordpress.com/2015/07/minions_2015-wide-e1436818869870.jpg") no-repeat top center;
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-size: cover;

}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:1px solid black;
  border-radius:10px;
  position:absolute;
  content: url('https://images-na.ssl-images-amazon.com/images/I/81pGFJC28qL._SL1500_.jpg');
  width:5%;
  height: auto;
}
.resize {
  border:1px solid black;
  border-radius:10px;
  content: url('https://images-na.ssl-images-amazon.com/images/G/01/aplusautomation/vendorimages/bf9d98e6-4889-4901-9283-76af7c0a45f0.jpg._CB289162043__SL300__.jpg');
  position:absolute;
  width:5%;
  height: auto;
}
.another {
  border:1px solid black;
  border-radius:10px;
  position:absolute;
  content: url('https://hdqwalls.com/wallpapers/bob-minions.jpg');
  width:5%;
  height: auto;
  
}
.highlight {
  width:15%;
  height: auto;  
}
